body{
	margin:0px;
	font-family:"Droid Sans",sans-serif;
}
p{
	line-height:148%;
	font-size:14px;
}
a:link {
    color: white;
	text-decoration: none;
}

a:visited {
    color: white;
	text-decoration: none;
}

a:hover {
    color: white;
	text-decoration: none;
}

a:active {
    color: white;
	text-decoration: none;
}
#main{
	background-image:url('images/b.png');
	background-repeat:round;
}
#header{
	width:1030px;
	height: 166px;
	margin:0px auto;
	background-color:white;
}
.header_cont{
	width:836px;
	height:125px;
	margin:0 auto;
}
.logo{
	width:303px;
	height:98px;
	float:left;
	padding-top: 35px;
}
.book{
	float:left;
	padding-top: 24px;
	   padding-left: 16px;
}
.book_img{
	height:53px;
	width:130px;
	padding-top: 10px;
}
.adv{
	float: right;
  min-width:167px;
  border: solid 2px #67C367;
  min-height: 122px;
  height:auto;
  margin-top: 10px;
	
}
.bravo{
	height:28px;
	text-align:center;
	border:solid 1px #67C367;
	margin:2px 2px 2px 2px;
	font-size:22px;
	color:white;
	background: linear-gradient(#52B952, #517151);
}
.bravo_cent{
	text-align:center;
	font-size: 14px;
	color:#474747;
}
.bravo_img{
	width: 160px;
	overflow: auto;
	height: auto;
}
.trip{
	width: 125px;
	height: 27px;
	padding-top: 10px;
	margin:0px auto;
}
.img1{
	position:absolute;
	float:left;
	width:28px;
}
.img2{
	position:relative;
	float:right;
	width:123px;
}
#main_container{
	width:1030px;
	height:auto;
	margin:0px auto;
	background-color:white;
}
.welcome_box{
	width:890px;
	height:411px;
	margin:0px auto;
}

.menu{
	width:890px;
	height:46px;
}
a:focus{
    outline:0; 
}
ul.sprite_menu{
	height:46px;
	margin:0 auto;
	list-style:none;
}
ul.sprite_menu li a{
	display:block;
	float:left;
	height:46px;
	background-image:url(images/menu_sprite.png);
	text-indent:-9999px;
}
ul.sprite_menu li a.home{
	width: 115.14px;
	background-position:0 0;
}
ul.sprite_menu li a.fac{
	width: 115.14px;
	background-position:-95px 0;
}
ul.sprite_menu li a.funzone{
	width: 115.14px;
	background-position: -209px 0px;
}
ul.sprite_menu li a.gallery{
	width:102.14px;
	background-position: -315px 0px;
}
ul.sprite_menu li a.attraction{
	width: 115.14px;
	background-position: -423px 0px;
}
ul.sprite_menu li a.booking{
	width: 115.14px;
	background-position: -529px 0px;
}
ul.sprite_menu li a.contact{
	width: 115.14px;
	background-position: -630px 0px;
}
ul.sprite_menu li a.home:hover,ul.sprite_menu li a.home:focus {
	background-position: -754px , 0;
}
ul.sprite_menu li a.fac:hover,ul.sprite_menu li a.fac:focus {
	background-position: -849px , 0;
}
ul.sprite_menu li a.funzone:hover,ul.sprite_menu li a.funzone:focus {
	background-position: -963px , 0;
}
ul.sprite_menu li a.gallery:hover,ul.sprite_menu li a.gallery:focus {
	background-position: -1069px , 0;
}
ul.sprite_menu li a.attraction:hover,ul.sprite_menu li a.attraction:focus {
	background-position: -1177px , 0;
}
ul.sprite_menu li a.booking:hover,ul.sprite_menu li a.booking:focus {
	background-position: -1283px , 0;
}
ul.sprite_menu li a.contact:hover,ul.sprite_menu li a.contact:focus {
	background-position: -1384px , 0;
}
#container{
	width:819px;
	height:auto;
	margin:0 auto;
	background-color:white;
	text-align:justify;
}
.first_sec{
	width:819px;
	min-height:350px;
	height:auto;
	overflow:auto;
}
.welcome{
	width:350px;
	min-height:350px;
	height:auto;
	float:left;
}
.wel_head{
	height:90px;
	width:350px;
	margin:0 auto;
}
.wel_cont{
	font-size: 14px;
}
.gallery{
	width:360px;
	height:350px;
	float:right;
	
}
.gal_cont{
	width:350px;
}
.gal_cont_1{
	height:115px;
}
img.gal1{
	padding-right:67px;
	padding-left: 25px;
}
img.gal3{
	padding-right:67px;
	padding-left: 25px;
}
.gal_cont_3{
	width:344px;
	
}
.link{
  width: auto;
  float: right;
  font-size: 13px;
  overflow: auto;
  margin-right: 17px;
}
img.view{
	padding-top:10px;
	position:absolute;
	
}
.text_view{
    padding-left: 30px;
    padding-top: 13px;
    color:#7B7B7B;
}
.second_sec{
	width:819px;
	min-height:235px;
	height:auto;
}
.testimony{
	min-height:92px;
	width:px;
	height:auto;
}
.test_components{
	width:819px;
	height:auto;
}
.test_image{
	float:left;
	padding-top: 17px;
	margin-right: 18px;
}
.third_sec{
	width:819px;
	min-height: 200px;
	height:auto;
}
#footer{
	height:74px;
	width:1030px;
	background-image:url(images/footer.jpg);
	background-repeat:round;
	margin:0 auto;
}
.footer_cont{
	height: 21px;
	width: 950px;
	margin: 0px auto;
	padding-top: 39px;
	color:white;
	font-size: 15px;
	font-family: "Droid Sans",sans-serif;
}
.footer_link{
	width:380px;
	float:left;
	margin-right:7px;
}
#slides{
    display: none;
}
#slides .slidesjs-navigation {
      margin-top:5px;
}
 a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(slides/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }
a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }
     a:hover.slidesjs-next {411px
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    } 
    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 8px 374px 0;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(slides/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
